<h1>TEMPLATE/COMPONENT/PROBS_COMPONENT</h1>
<header>
  <h1>LIST OF PROBLEMS</h1>
    <ul class="actions">
      <li>{{#link-to 'problems.new'}}Create New Problem{{/link-to}}</li>
    </ul>
  <div className="clear"></div>
</header>

<section>
  <nav class="users actions listing al_vertical_stretch">
    <h2>Problems list</h2>
  
    <ul class="list all problems">
      <h4>1) List all Problems lalala</h4>
      <h4>2) List all Problems lalala</h4>
      <h4>3) List all Problems </h4>
      <h4>4) List all Problems lalala</h4>
    </ul>
  </nav>
</section>

{{yield}}
 
 <footer>
   <h3>Detail for a problem</h3>

 </footer>
 